{% extends "main.html" %}
{% block content %}
<h1>Basketball Statistics Database</h1>
<h2>League Histories</h2>
  <p>Represents the complete history of a basketball organization. Allows the user to view, add, delete, and update leagues.</p>
  <p>E.g. The National Basketball Association (NBA).</p>
<h2>Seasons</h2>
  <p>Represents a single season of a basketball organization. Allows the user to view, add, delete, and update seasons.</p>
  <p>E.g. The 1995-1996 NBA Season</p>
<h2>Teams</h2>
  <p>Represents an individual team within a single season. Allows the user to view, add, delete, and update teams.</p>
  <p>E.g. The 1995-1996 Chicago Bulls.</p>
<h2>Players</h2>
  <p>Represents an individual player of a single team (within a single season). Allows the user to view, add, delete, and update players.</p>
  <p>E.g. Michael Jordan of the 1995-1996 Chicago Bulls.</p>
<h2>Coaches</h2>
  <p>Represents an individual coach of a single team (within a single season). Allows the user to view, add, delete, and update coaches.</p>
  <p>E.g. Phil Jackson of the 1995-1996 Chicago Bulls.</p>
<h2>Player Team Relations</h2>
  <p>Represents the playing relationship between an individual player and a single team (within a single season). Allows the user to view, add, delete, and update player team relations.</p>
  <p>E.g. Michael Jordan's playing relationship with the 1995-1996 Chicago Bulls.</p>
<h2>Coach Team Relations</h2>
  <p>Represents the coaching relationship between an individual coach and a single team (within a single season). Allows the user to view, add, delete, and update coach team relations.</p>
  <p>E.g. Phil Jackson's coaching relationship with the 1995-1996 Chicago Bulls.</p>
{% endblock %}
