{% extends "main.html" %}
{% block content %}
<h1>Player Team Relations</h1>

<p>This is the section for the Player Team Relations table. Here, you are able to view, edit, delete, and add a row on to the table.</p>

<p>

<p>Here is the table for Player Team Relations: 

</p>  

<br/>

<div>
  <table id="player_team_relations" >
    <thead>
      <tr>
        <th>Player-Team ID</th>
        <th>Player Name</th>
        <th>Player ID</th>        
        <th>Team Name</th>
        <th>Team ID</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for r in rows %}
      <tr>
        <td> {{ r.0 }}</td>
        <td> {{ r[2] }}</td>
        <td> {{ r[1] }}</td>
        <td> {{ r[4] }}</td>
        <td> {{ r[3] }}</td>
        <td> <input type='button' name='Update' value='Edit' onclick="window.location = '/update_player_team_relations/{{r.0}}'"> </td>
        <td> <input type='button' name='Delete' value='Delete' onclick="window.location = '/delete_player_team_relations/{{r.0}}'"> </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<br />

<form method="POST">

<legend>Add a player team relation to the table:</legend>

<div>
  <table id="add_player_team_relations">
    <thead>
      <tr>
        <th>Player Name/ID</th>
        <th>Team Name/ID</th>
    <tbody>
      <tr>
        <td>
          <select name="player_id">
            {% for a in rows_a %}
            <option value="{{ a.0 }}">{{ a.1 }} (Player ID: {{ a.0 }})</option>
            {% endfor %}
          </select>
        </td>
        <td>
          <select name="team_id">
            {% for b in rows_b %}
            <option value="{{ b.0 }}">{{ b.1 }} (Team ID: {{ b.0 }})</option>
            {% endfor %}
          </select>
        </td>
  </table>  
</div>

<div>
  <br />
  <input type="submit" value="Add" />
</div>

</form>
</p>
  {% endblock %}
