{% extends "main.html" %}
{% block content %}

<h3>Update Player Team Relation:</h3>
<form id="update_player_team_relations" action="/update_player_team_relations/{{player_team_relations[0]}}" method="post">
  <input type="hidden" name="player_team_id" value = "{{ player_team_relations[0] }}">
  Player Name/ID: 
  <select name="player_id">
    {% for a in rows_a %}
    <option value="{{ a.0 }}">{{ a.1 }} (Player ID: {{ a.0 }})</option>
    {% endfor %}
  </select> <br>
  Team Name/ID: 
  <select name="team_id">
    {% for b in rows_b %}
    <option value="{{ b.0 }}">{{ b.1 }} (Team ID: {{ b.0 }})</option>
    {% endfor %}
  </select> <br>
  <input type="submit" value="Submit">
 </form>
<br/>

{% endblock %}